{erl_opts, [debug_info]}.
{deps, []}.

{plugins, [
           {bump, ".*", {git, "git://github.com/mynameisdaniil/bump.git", {branch, "master"}}},
           {gitrel, ".*", {git, "git://github.com/mynameisdaniil/gitrel.git", {branch, "master"}}}
          ]}.

{relx, [
        {include_src, false},
        {release,
         {gitrel, "v0.0.1"}, %%bump marker
         [
          gitrel
         ]
        },
        {extended_start_script, true}
      ]}.

